# Dépendances npm
node_modules/
.npm

# Build Vite
dist/
dist-ssr/
*.local

# Logs
logs
*.log
npm-debug.log*

# Éditeur
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
